.register {
    height: 100vh;

    &__container {
        max-width: 120rem;
        margin: 0 auto;
        margin-top: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        // @media only screen and (max-width: $bpSmallest) {
        //     width: 100%;
        //     height: 100%;
        //     border-radius: 0;
        // }

        // & > h1 {
        //     align-self: flex-start;
        // }
    }

    // &__logo {
    //     width: 30%;
    //     display: block;

    //     @media only screen and (max-width: $bpSmallest) {
    //         width: 40%;
    //     }
    // }

    &__form {
        display: flex;
        flex-direction: column;

        // &-actions {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        // }

        &-field {
            font-family: inherit;
            border: none;
            border: 1px solid lighten($darkColour, 70%);
            outline: none;
            padding: .5rem;
            background-color: transparent;
            color: $darkColour;
            font-size: 1.4rem;
            transition: .2s;

            &:focus {
                border: 1px solid $primaryColour;
            }
        }

        & > label {
            font-size: 1.6rem;
        }

        & button {
            align-self: flex-start;
        }
    }
}