.transactions {

    height: calc(100vh - 10rem);
    
    & .flash__message {
        margin: 0 auto;
        width: 30rem;
    }

    &__container {
        max-width: 120rem;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    &__label {
        margin-top: 3rem;
        font-size: 2rem;
    }

    &__input {
        font-family: inherit;
        border: none;
        border: 1px solid lighten($darkColour, 70%);
        outline: none;
        padding: .5rem;
        background-color: transparent;
        color: $darkColour;
        font-size: 2rem;
        transition: .2s;

        &:focus {
            border: 1px solid $primaryColour;
        }
    }

    &__link {
        margin-top: 3rem;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        background-color: $primaryColour;
        color: $darkColour;
        align-self: flex-start;
        transition: all .3s;

        &:hover {
            background-color: $darkColour;
            color: $primaryColour;
            text-decoration: none;
        }
    }

    &__list {
        width: 100%;
        margin-top: 3rem;
        height: 75%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    &__transaction {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem 1rem 1rem;
        cursor: pointer;
        transition: background-color .2s;
        border-bottom: 1px solid lighten($darkColour, 70%);

        &:hover {
            background-color: $primaryColour;
        }

        &-date {
            font-size: 1.8rem;
            margin: 0;
        }

        &-toggle {
            display: flex;
            align-items: center;
        }

        &-amount {
            margin: 0;
            margin-right: 2rem;
            font-size: 1.8rem;
        }

        &-details {
            padding: 1rem 1.5rem 1rem 1rem;
            font-size: 1.5rem;
            margin: 0;
            background-color: lighten($darkColour, 70%);

            & h2 {
                margin-bottom: 1rem;
            }

            & p {
                margin-bottom: .5rem;
            }

            &-hide {
                // display: none;
            }
        }
    }
}