<nav class="navbar">

    <h1 class="navbar__brand">East London Realtors</h1>

    <ul class="navbar__links">
        <li><a href="/add-user" class="navbar__link">Add User</a></li>
        <li><a href="/add-property" class="navbar__link">Add Property</a></li>
        <li><a href="/dashboard" class="navbar__link-primary">Dashboard</a></li>
    </ul>

</nav>